/* Profile */
.text-gray-500 {
    color: #4F946B;
}

.p-6 {
    padding-top: 32px;
}

.text-2xl {
    font-size: 30px;
}

/* My pets */
.border-r {
    border: none;
}

.items-center .mb-2{
    width: 150px;
    height: 150px;
}

/* Shop */
.mb-2 {
    max-height: 220px;
}

.mb-3 {
    font-size: 22px;
}

